<html
  xmlns='http://www.w3.org/1999/xhtml'
  style="
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
  "
>
  <head>
    <meta name='viewport' content='width=device-width' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Poppins:ital,wght@0,200;1,100&family=Raleway:wght@300&display=swap" rel="stylesheet">

    <style type='text/css'>
      img { width: 400px; } body { -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none; width: 100% !important; height: 100%;
      line-height: 1.6em; } body { background-color: #f6f6f6; } @media only
      screen and (max-width: 640px) { body { padding: 0 !important; } h1 {
      font-weight: 800 !important; margin: 20px 0 5px !important; } h2 {
      font-weight: 800 !important; margin: 20px 0 5px !important; } h3 {
      font-weight: 800 !important; margin: 20px 0 5px !important; } h4 {
      font-weight: 800 !important; margin: 20px 0 5px !important; } h1 {
      font-size: 22px !important; } h2 { font-size: 18px !important; } h3 {
      font-size: 16px !important; } .container { padding: 0 !important; width:
      100% !important; } .content { padding: 0 !important; } .content-wrap {
      padding: 10px !important; } .invoice { width: 100% !important; } .footer {
      clear: both; margin-top: 10px; text-align: center; width: 100%; } .footer
      td, .footer p, .footer span, .footer a { color: #999999; font-size: 12px;
      text-align: center; } }

      .container {
        background-color: #B4AC99;
        height: 100vh;
        padding: 0;
        margin: 0;

        font-family: 'Happy Monkey', cursive;
      }

      .inner-container {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .message {
        margin-top: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 300px;
        width: 80%;
      }

      .text-center {
        text-align: center;
      }

      .line-height {
        line-height: 1.5rem;
      }
    </style>
  </head>
{{!-- ./imgs/happy-birthday.jpg --}}
{{!-- cid:happy-birthday --}}
  <body
    itemscope
    style="
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      box-sizing: border-box;
      width: 100% !important;
      line-height: 1.5rem;
    "
  >
    <div class="container">
      <div class="inner-container">
        <img src="./imgs/happy-birthday.jpg" alt="">

        {{!-- <div class="message">
          <h1>Hola, {{ name }}</h1>

          <p><h2 class="text-center">Sabemos que este es un dia muy especial para vos, por eso queremos desearte feliz cumpleaños!</h2></p>

          <p><h2>Te saludan</h2></p>

          <p><h2>Los Perman's</h2></p>

        </div> --}}

      </div>
    </div>
  </body>
</html>